:root {
  --bg-color: #2f1893;
  --btn-color: #e93a7d;
  --login-btn-color: #1da1f2;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
a {
  text-decoration: none;
}

.container {
  max-width: 100%;
  padding: 0 14vw;
  height: 100%;
}
.navbar {
  position: sticky;
  width: 100%;
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav-left h1 {
  font-size: 40px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 18px;
}
ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

li:hover,
.active {
  color: #7368a7;
  cursor: pointer;
}
.btn {
  padding: 8px 18px;
  background-color: var(--btn-color);
  color: var(--text-color);
  outline: none;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
}
.btn:hover {
  background: var(--text-color);
  color: var(--btn-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.mobile-menu {
  display: none;
}
main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  height: calc(100vh - 80px);
}

/* Left side Section */
#left {
  flex: 1;
}

#left h1 {
  font-size: 50px;
  padding: 30px 0;
}
#left p {
  padding-bottom: 30px;
  padding-right: 40px;
  font-size: 16px;
}

/* Right Side Section */
#right {
  flex: 1;
  padding-left: 20px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--text-color);
  color: var(--bg-color);
  padding: 30px 20px;
  width: 100%;
  border-radius: 10px;
}
.inputs {
  margin-top: 15px;
}

.inputs input {
  width: 94%;
  outline: none;
  border: 1px solid #999;
  border-radius: 20px;
  height: 20px;
  padding: 20px;
  margin: 10px;
  font-size: 15px;
}
.t_and_c {
  width: 90%;
  color: #999;
  margin: 12px 0;
}

.checkBox {
  accent-color: #25d9c4;
  width: 15px;
  height: 15px;
}

form h2 {
  font-size: 35px;
}
.buttons {
  width: 94%;
  position: relative;
}

.btn-1,
.btn-2 {
  width: 100%;
  outline: none;
  border: none;
  background: var(--login-btn-color);
  color: var(--text-color);
  padding: 10px 15px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 20px;
}
.btn-1 {
  background: var(--bg-color);
}

hr {
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
}

.buttons p {
  width: 6%;
  padding: 0 2px;
  background: #fff;
  margin-top: -12px;
  margin-left: 48%;
  font-weight: 500;
  color: #999;
}
.sign_in {
  margin: 10px;
  color: #999;
}
.sign_in a {
  color: var(--login-btn-color);
}

@media screen and (min-width: 680px) and (max-width: 920px) {
  .container {
    padding: 0 8vw;
  }
  main {
    gap: 4rem;
  }
}

@media screen and (min-width: 420px) and (max-width: 678px) {
  .container {
    padding: 50px 10vw;
  }
  .nav-right {
    display: none;
  }
  .nav-left h1 {
    font-size: 25px;
  }
  .mobile-menu {
    display: block;
    font-size: 1.4rem;
    cursor: pointer;
  }
  main {
    flex-direction: column;
    text-align: center;
    gap: 3.5rem;
  }
  #left h1 {
    font-size: 45px;
  }
  #left p {
    padding-right: 0;
  }
}
@media screen and (max-width: 425px) {
  .container {
    padding: 0 10vw;
  }
  .nav-right {
    display: none;
  }
  .nav-left h1 {
    font-size: 25px;
  }
  .mobile-menu {
    display: block;
    font-size: 1.4rem;
    cursor: pointer;
  }
  main {
    flex-direction: column;
    text-align: center;
    gap: 3.5rem;
  }
  #left h1 {
    font-size: 35px;
  }
  #left p {
    padding-right: 0;
    font-size: 13px;
  }
  form h2 {
    font-size: 25px;
  }
  .inputs input {
    height: 35px;
    font-size: 13px;
    padding: 5px 10px;
  }
  .t_and_c {
    width: 100%;
  }
}
